.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'Altivo';
  src: url('../public/Fonts/Fontspring-DEMO-altivo-black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Altivo';
  src: url('../public/Fonts/Fontspring-DEMO-altivo-blackitalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Altivo';
  src: url('../public/Fonts/Fontspring-DEMO-altivo-bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Altivo';
  src: url('../public/Fonts/Fontspring-DEMO-altivo-bolditalic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Altivo';
  src: url('../public/Fonts/Fontspring-DEMO-altivo-extralight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Altivo';
  src: url('../public/Fonts/Fontspring-DEMO-altivo-extralightitalic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Altivo';
  src: url('../public/Fonts/Fontspring-DEMO-altivo-italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Altivo';
  src: url('../public/Fonts/Fontspring-DEMO-altivo-light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Altivo';
  src: url('../public/Fonts/Fontspring-DEMO-altivo-medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Altivo';
  src: url('../public/Fonts/Fontspring-DEMO-altivo-mediumitalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Altivo';
  src: url('../public/Fonts/Fontspring-DEMO-altivo-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Altivo';
  src: url('../public/Fonts/Fontspring-DEMO-altivo-thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Altivo';
  src: url('../public/Fonts/Fontspring-DEMO-altivo-thinitalic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Altivo';
  src: url('../public/Fonts/Fontspring-DEMO-altivo-ultra.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Altivo';
  src: url('../public/Fonts/Fontspring-DEMO-altivo-ultraitalic.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
}

